      <i class="fa fa-bars" id="hamburger" onclick="toggleMenu()"></i>
      <section class="sidebar-menu">
        <div class="flex flex-end">
          <h1 class="logo">LOGO</h1>
          <i class="fa fa-close" id="close-menu" onclick="closeMenu()"></i>
        </div>
        <div class="menu-items-wrapper">
          <div class="flex space-between menu-items">
            <div class="flex">
              <i class="fa fa-home" aria-hidden="true"></i>
              <span>Profile</span>
            </div>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>
          <a class="flex space-between sub-menus" href="summary-dashboard.html">
            <div class="flex">
              <i class="fa-solid fa-circle"></i>
              <span>Summary Dashboard</span>
            </div>
          </a>
          <a class="flex space-between sub-menus" href="profile-detail.html">
            <div class="flex">
              <i class="fa-solid fa-circle"></i>
              <span>Details</span>
            </div>
          </a>
        </div>
        <div class="menu-items-wrapper">
          <div class="flex space-between menu-items">
            <div class="flex">
              <i class="fa fa-folder" aria-hidden="true"></i>
              <span>Goals</span>
            </div>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>
          <a class="flex space-between sub-menus" href="goals.html">
            <div class="flex">
              <i class="fa-solid fa-circle"></i>
              <span>Goals 1</span>
            </div>
          </a>
          <a class="flex space-between sub-menus" href="goals.html">
            <div class="flex">
              <i class="fa-solid fa-circle"></i>
              <span>Goals 2</span>
            </div>
          </a>
        </div>

        <div class="flex space-between menu-items">
          <div class="flex">
            <i class="fa fa-folder" aria-hidden="true"></i>
            <span>Transaction Summary</span>
          </div>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <a class="flex space-between menu-items" href="banking-info.html">
          <div class="flex">
            <i class="fa fa-building" aria-hidden="true"></i>
            <span>Banking Info</span>
          </div>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
      </section>