<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="../styles.css" type="text/css" rel="stylesheet" />
    <title>FinTech</title>
  </head>
  <body>
    <main>
      <section class="main-section">
        <div class="title">ICICI Mutual Fund</div>
        <div class="flex mutual-fund-container">
          <div class="mutual-fund-historic-graph">
            <img src="../assets/ICIC_Mutual_Fund.png" alt="graph" />
          </div>
        </div>

        <div class="mutual-fund-contents">
          <div class="mutual-cagr-table">
            <div class="transactionContainer mutual-fund-table">
              <table>
                <thead>
                  <tr>
                    <th class="primary-font-color">Time</th>
                    <th class="primary-font-color">CAGR</th>
                    <th class="primary-font-color">Absolute %</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>3M</td>
                    <td>-1%</td>
                    <td>-1.5%</td>
                  </tr>
                  <tr>
                    <td>6M</td>
                    <td>2%</td>
                    <td>4%</td>
                  </tr>
                  <tr>
                    <td>1Y</td>
                    <td>6%</td>
                    <td>10%</td>
                  </tr>
                  <tr>
                    <td>3Y</td>
                    <td>7%</td>
                    <td>12%</td>
                  </tr>
                  <tr>
                    <td>5Y</td>
                    <td>8%</td>
                    <td>21%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="mutual-fund-highlights">
            <ul>
              <li>
                <div class="mutual-fund-highlight-container">
                  <span></span>
                  <span>NAV</span>
                  <span>34</span>
                </div>
              </li>
              <li>
                <div class="mutual-fund-highlight-container">
                  <span></span>
                  <span>AUM</span>
                  <span>343Cr</span>
                </div>
              </li>
              <li>
                <div class="mutual-fund-highlight-container">
                  <span></span>
                  <span>TER</span>
                  <span>3.4</span>
                </div>
              </li>
              <li>
                <div class="mutual-fund-highlight-container">
                  <span></span>
                  <span>Risk</span>
                  <span>Low</span>
                </div>
              </li>
              <li>
                <div class="mutual-fund-highlight-container">
                  <span></span>
                  <span>Rating</span>
                  <span>4&#9733</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="mutual-fund-performance">
            <div class="performance-content">
              <div class="performance">
                <div class="performance-values">
                    <div class="goal-head">
                        <div class="title">ICICI Mutual Fund Performance</div>
                        <div>
                          <select name="timeframe">
                            <option value="3m">3m</option>
                            <option value="6m">6m</option>
                            <option value="1y">1Y</option>
                            <option value="3y">3Y</option>
                            <option value="5y">5Y</option>
                          </select>
                        </div>
                      </div>
                        <div class="sub-title">
                            1 Lacs Investment Grown to
                        </div>
                        <div class="comparison-part">
                            <span>₹ 3.5L</span>
                        </div>
                </div>
                <div class="performance-values">
                    <div class="sub-title">
                        1 Lacs Investment Grown to
                    </div>
                    <div class="comparison-part">
                        <span>₹ 3.5L</span>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mutual-fund-data">
        <div class="mutual-fund-graph-sector">
            <div class="title">Sector wise allocation</div>
            <img src="../assets/sector_wise_allocation_mutual_fund.png" alt="mutual fund"/>
        </div>
        <div class="mutual-fund-sector-distributio">
          <div class="skill-bar">
            <div
              class="flex space-between full-width padding-both bottom-border"
              style="--bottom-border-size: 4px"
            >
              <span>Fund Name</span>
              <span>%</span>
            </div>
            <div class="flex space-between full-width bottom-border">
              <span class="skill-bar-name">PGDM</span>
              <div class="flex full-width justify-end">
                <span
                  class="skill-bar-line"
                  style="--skill-bar-size: 40%"
                ></span>
                <span>40<span class="primary-font-color f-600">%</span></span>
              </div>
            </div>
            <div class="flex space-between full-width bottom-border">
              <span class="skill-bar-name">Tata</span>
              <div class="flex full-width justify-end">
                <span
                  class="skill-bar-line"
                  style="--skill-bar-size: 35%"
                ></span>
                <span>35<span class="primary-font-color f-600">%</span></span>
              </div>
            </div>
            <div class="flex space-between full-width bottom-border">
              <span class="skill-bar-name">ICICI</span>
              <div class="flex full-width justify-end">
                <span
                  class="skill-bar-line"
                  style="--skill-bar-size: 25%"
                ></span>
                <span>25<span class="primary-font-color f-600">%</span></span>
              </div>
            </div>
            <div class="flex space-between full-width bottom-border">
              <span class="skill-bar-name">SBI small cap</span>
              <div class="flex full-width justify-end">
                <span
                  class="skill-bar-line"
                  style="--skill-bar-size: 12%"
                ></span>
                <span>12<span class="primary-font-color f-600">%</span></span>
              </div>
            </div>
            <div class="flex space-between full-width bottom-border">
              <span class="skill-bar-name">Others</span>
              <div class="flex full-width justify-end">
                <span
                  class="skill-bar-line"
                  style="--skill-bar-size: 13%"
                ></span>
                <span>13<span class="primary-font-color f-600">%</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    </main>
  </body>
</html>

<script type="text/javascript" src="../main.js"></script>
