<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="../styles.css" type="text/css" rel="stylesheet" />
    <title>FinTech</title>
  </head>
  <body>
    <main>
      <section class="main-section">
        <div class="title f-400">Tata Motors</div>
        <div class="share-detail-grid">
          <div class="share-detail-graph">
            <img src="../assets/share-detail-graph.svg" alt="graph" />
          </div>
          <div class="share-detail-stats">
            <div class="share-detail-stats-card">
              <div
                class="flex space-between full-width bottom-border"
                style="--bottom-border-size: 2px"
              >
                <span class="name">PE Ratio</span>
                <span class="score primary-font-color">5.6</span>
              </div>
              <div class="flex">
                <span class="description">
                  P/E ratio, P/E, or PER, is the ratio of a company's share
                  price to the company's earnings per share.
                </span>
              </div>
            </div>
            <div class="share-detail-stats-card">
              <div
                class="flex space-between full-width bottom-border"
                style="--bottom-border-size: 2px"
              >
                <span class="name">PB Ratio</span>
                <span class="score primary-font-color">2.4</span>
              </div>
              <div class="flex">
                <span class="description">
                  The price-to-book (P/B) ratio measures the market's valuation
                  of a company relative to its book value.
                </span>
              </div>
            </div>
            <div class="share-detail-stats-card">
              <div
                class="flex space-between full-width bottom-border"
                style="--bottom-border-size: 2px"
              >
                <span class="name">Industry PE Ratio</span>
                <span class="score primary-font-color">1.6</span>
              </div>
              <div class="flex">
                <span class="description">
                  Industry PE is the average price-to-earning ratio of a
                  particular sector or industry.
                </span>
              </div>
            </div>
            <div class="share-detail-stats-card">
              <div
                class="flex space-between full-width bottom-border"
                style="--bottom-border-size: 2px"
              >
                <span class="name">Debt to Equity</span>
                <span class="score primary-font-color">0.6</span>
              </div>
              <div class="flex">
                <span class="description">
                  Financial ratio indicating the relative proportion of
                  shareholders' equity and debt used to finance a company's
                  assets.
                </span>
              </div>
            </div>
            <div class="share-detail-stats-card">
              <div
                class="flex space-between full-width bottom-border"
                style="--bottom-border-size: 2px"
              >
                <span class="name">ROE %</span>
                <span class="score primary-font-color">13%</span>
              </div>
              <div class="flex">
                <span class="description">
                  The percent return on equity is a measure of the profitability
                  of a business in relation to the equity. 
                </span>
              </div>
            </div>
            <div class="share-detail-stats-card">
              <div
                class="flex space-between full-width bottom-border"
                style="--bottom-border-size: 2px"
              >
                <span class="name">Face Value</span>
                <span class="score primary-font-color">135</span>
              </div>
              <div class="flex">
                <span class="description">
                  It is simply the price at which you purchase the shares of a
                  particular company. 
                </span>
              </div>
            </div>
            <div class="share-detail-stats-card">
              <div
                class="flex space-between full-width bottom-border"
                style="--bottom-border-size: 2px"
              >
                <span class="name">EPS</span>
                <span class="score primary-font-color">5.4</span>
              </div>
              <div class="flex">
                <span class="description">
                  Earnings per share is the monetary value of earnings per
                  outstanding share of common stock for a company.
                </span>
              </div>
            </div>
            <div class="share-detail-stats-card">
              <div
                class="flex space-between full-width bottom-border"
                style="--bottom-border-size: 2px"
              >
                <span class="name">Dividend Yield</span>
                <span class="score primary-font-color">5.4</span>
              </div>
              <div class="flex">
                <span class="description">
                  The dividend yield or dividend–price ratio of a share is the
                  dividend per share, divided by the price per share.
                </span>
              </div>
            </div>
            <div class="share-detail-stats-card">
              <div
                class="flex space-between full-width bottom-border"
                style="--bottom-border-size: 2px"
              >
                <span class="name">Book Value</span>
                <span class="score primary-font-color">145</span>
              </div>
              <div class="flex">
                <span class="description">
                  Book value per share (BVPS) is the ratio of equity available
                  to common shareholders divided by the number of outstanding
                  shares.
                </span>
              </div>
            </div>
          </div>
          <div class="share-detail-timeline">
            <div class="h-100 title f-400">
              Stock Insights
              <div class="timeline h-100">
                <div class="container">
                  <div class="content">
                    <p class="f-400 primary-font-color">Current Price</p>
                  </div>
                </div>
                <div class="container">
                  <div class="content">
                    <p class="f-400 primary-font-color">52W High</p>
                  </div>
                </div>
                <div class="container">
                  <div class="content">
                    <p class="f-400 primary-font-color">52W Low</p>
                  </div>
                </div>
                <div class="container">
                  <div class="content">
                    <p class="f-400 primary-font-color">Market Cap</p>
                  </div>
                </div>
                <div class="container">
                  <div class="content">
                    <p class="f-400 primary-font-color">Avg. Volume Traded</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="title f-400 mt-16">Analytics of Tata Motors</div>
        <div class="analytics-graph-wrapper">
          <div class="flex">
            <div
              class="share-detail-tab analytics-graph-wrapper-active primary-font-color"
              id="revenue-tab"
              onclick="toggleTabs('revenue','revenue-tab')"
            >
              Revenue
            </div>
            <div
              class="share-detail-tab"
              id="profit-tab"
              onclick="toggleTabs('profit','profit-tab')"
            >
              Profit
            </div>
            <div
              class="share-detail-tab"
              id="new-worth-tab"
              onclick="toggleTabs('new-worth','new-worth-tab')"
            >
              New Worth
            </div>
          </div>
          <div class="mt-16">
            <div id="revenue" class="graphs">
              <div class="analytics-graph">
                <img src="../assets/analytics-share-details.svg" alt="graph" />
              </div>
            </div>

            <div id="profit" class="graphs" style="display: none">
              <div class="analytics-graph">
                <img src="../assets/analytics-share-details.svg" alt="graph" />
              </div>
            </div>

            <div id="new-worth" class="graphs" style="display: none">
              <div class="analytics-graph">
                <img src="../assets/investment-pie-chart.svg" alt="graph" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>

<script type="text/javascript" src="../main.js"></script>
